@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

* {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

#root {
    display: flex;
    height: 100%;
    width: 100%;
}

html, body {
    display: flex;
    height: 100%;
    width: 100%;
}

body, h1, h2, h3, h4, h5, p, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

hr {
    margin: 0px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.container {
    display: flex !important;
    flex: 1 !important;
    flex-basis: 0;
    flex-direction: column !important;
}

.container-row {
    display: flex !important;
    flex: 1 !important;
    flex-basis: 0;
    flex-direction: row !important;
}

.margin {
    margin: 16px;
}

.margin-not-left {
    margin: 8px;
    margin-left: 0px;
}

.padding {
    padding: 16px;
}